.buttom {
  padding: 0px 150px;
  text-align: center;
  margin: 0px;  
}

#perfil {
  margin: 10px;
  text-align: center;
  padding: 0;
}

#perfil-block {
  justify-content: center;
}

#perfil button {
  background-color: rgb(138,134,134);
  color: white;
}